@charset "utf-8";

/*-----------------------------------------------------------------------------------

	RippleWise Checkout Theme v1.0.0

	Author: Enej Pungercar
	Author URL: http://www.behance.net/aeneas
	Copyright: 2014 RippleWise
 
-------------------------------------------------------------------------------------

	0.	Styles

------------------------------------------------------------------------------------ */

/*-----------------------------------------------------------------------------------*/
/*	0.	Styles
/*-----------------------------------------------------------------------------------*/
body.rw-checkout {
		background: #30D0F0;	
}
body.rw-checkout h1 {
		color: #30D0F0;
}
#rw-checkout header h1 a,
#rw-checkout header h1 {
		color: #30D0F0;
}
#rw-checkout header span.logo {
		background-color: #30D0F0;
}
#rw-checkout header span.logo.image {
		background-image: url(../img/logo_ripplewise.png);
}
#rw-checkout .left .body  .status .circle-data span {
		color: #30D0F0;
}
#rw-checkout .left .body .options a:hover {
		background-color: #30D0F0;	
}
#rw-checkout .invoice-content ul.header li span {
		color: #30D0F0;
}
#rw-checkout .colorize,
#rw-checkout .invoice-content ul li span.colorize,
#rw-checkout .invoice-content ul li span.colorize a {
		color: #30D0F0;
}
#rw-checkout .colorize-secondary,
#rw-checkout .invoice-content ul li span.colorize-secondary {
		color: #E94E77;
}
#rw-checkout .button:hover {
		background-color: #30D0F0;
}
#rw-checkout .timer > .percent {
		color: #30D0F0;
}
#rw-checkout .timer > #slice > .pie {
		border: 3px solid #30D0F0;
}







